{
  "presets": [
    ["@babel/preset-env",
      { 
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@config": "./src/config",
          "@loaders": "./src/loaders",
          "@network": "./src/network",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}