{
    "env": {
        "es2020": true,
        "node": true
    },
    "plugins": ["simple-import-sort"],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "no-console": ["error", { "allow": ["warn", "error"] }]
    }
}