{
    "env": {
        "es2020": true,
        "node": true
    },
    "plugins": ["prettier"],
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
        "no-console": 1,
        "prettier/prettier": 2,
        "indent": [
            "error",
            2
        ]
    }
}